{{outlet}}
<h1>WELCOME TO The BOOT </h1>

<!-- Question Display section.. //-->
      <h2>Questions Available </h2>
<div class="quiz">
  <ol>
    {{#each model.questions as |question|}}
      <li>{{question-popularity question}} {{question-tile question=question}}{{no-answer question}}{{yes-answer question}} </li>
    {{/each}}
  </ol>
    {{new-question saveQuestion2="saveQuestion3"}}
</div>

<!-- Answer Display section. ///-->
<div class="answer">
  <h2>Answers Available </h2>
  <ol>
    {{#each model.answers as |answer|}}
      {{answer-tile answer=answer  }}
    {{/each}}
  </ol>

  {{new-answer saveAnswer="saveAnswer"}}
</div>

<!-- display reviews cc-->
<h2> All Reviews </h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>

{{new-review saveReview="saveReview"}}

<hr>
